version: '3'
services:
  webapi:
    image: gamevault-api
    build:
      context: .
      dockerfile: WebAPI/Dockerfile
    ports:
      - "8080:8080"
    environment:
      - ASPNETCORE_URLS=http://+:8080
      - ConnectionStrings__DefaultConnection=Host=postgres;Port=5432;Database=gamevault;Username=postgres;Password=postgres
      - Jwt__Secret=super_secret_key_at_least_32_chars_long_docker
      - Jwt__RefreshPepper=super_secret_pepper_at_least_32_chars_long_docker
    depends_on:
      postgres:
        condition: service_healthy

  postgres:
    image: postgres:17
    container_name: postgres
    environment:
      POSTGRES_DB: gamevault
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d gamevault"]
      interval: 5s
      timeout: 5s
      retries: 5
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
